
<p>
  <strong>Name:</strong>
  <%= @idea.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @idea.duration %>
  <%= @idea.duration_type %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag @idea.picture.url %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
